{% extends 'flatpages/default.html' %}


{# load custom_filters #}
{% load custom_tags %}

{% block title %}
search
{% endblock title %}

{% block content %}
<h1>Новости!<h1>
    <hr>

    <form action="" method="get">
        {{ filterset.form.as_p }}
<!--        <label for='Дата'>...</label>-->
<!--        <input-->
<!--          id='Дата'-->
<!--          type="date"-->
<!--          name="post__time_created=date"-->
<!--          value="2024-06-01T08:30" />-->

        <input type="submit" value="Найти" />
    </form>

    {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">Добавить Новость (не статью!)</a>
    {% endif %}

    {% if news %}
    <h3 align="left">
        <table>
<!--            <tr>-->
<!--                <td>Заголовок</td>-->
<!--                <td>Публикация</td>-->
<!--                <td>Содержание</td>-->
<!--            </tr>-->
            {% for n in news %}
            <tr>
               <td>{{ n.title }}</td>
               <td>{{ n.time_created|date:'- d M Y -' }}</td>
               <td>{{ n.text|truncatechars:21 }}</td>
                <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'news_update' pk=n.id %}">Изменить  |</a>
                    {% endif %}

                    {% if perms.news.delete_post %}
                    <a href="{% url 'news_delete' n.id %}">Удалить</a>
                    {% endif %}
               </td>
            </tr>
            {% endfor %}
        </table>
    </h3>
    {% else %}
        <h2>Нет новостей!</h2>
    {% endif %}


    {# Инфа о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей станице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}