{% extends 'flatpages/default.html' %}


{% load custom_filters %}
{% load custom_tags %}

{% block title %}
search
{% endblock title %}

{% block content %}
<h1>Новости!<h1>
<hr>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    {% if news %}
    <h3 align="left">
        <table>
<!--            <tr>-->
<!--                <td>Заголовок</td>-->
<!--                <td>Публикация</td>-->
<!--                <td>Содержание</td>-->
<!--            </tr>-->
            {% for n in news %}
            <tr>
               <td>{{ n.title }}</td>
               <td>{{ n.time_created|date:'- d M Y -' }}</td>
               <td>{{ n.text|truncatechars:21 }}</td>
            </tr>
            {% endfor %}
        </table>
    </h3>
    {% else %}
        <h2>Нет новостей!</h2>
    {% endif %}


   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}